@import "../../_globalColor";

.social-media-div {
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* This adds spacing between icons */
}

.icon-button {
  margin-bottom: 10px;
  display: inline-block;
}

.icon-button i {
  color: $textColorDark;
  border-radius: 50%; /* Simplified to 50% for a perfect circle */
  cursor: pointer;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  user-select: none;
  width: 2.6rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for a floating effect */
}

.icon-button i:hover,
.icon-button i:focus,
.icon-button i:active {
  background-color: $textColor;
  transform: scale(1.1); /* Slight scale-up effect on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Elevated shadow on hover */
}

/* Social Media Colors */
.facebook i {
  background-color: $faceBook;
}

.linkedin i {
  background-color: $linkedin;
}

.github i {
  background-color: $github;
}

.gitlab i {
  background-color: $gitlab;
}

.google i {
  background-color: $google;
}

.twitter i {
  background-color: $twitter;
}

.medium i {
  background-color: $medium;
}

.stack-overflow i {
  background-color: $stackoverflow;
}

.kaggle i {
  background-color: $kaggle;
}

.instagram i {
  background-color: $instagram;
}

/* Media Query - For Mobile Devices */
@media (max-width: 768px) {
  .social-media-div {
    font-size: 1.5em; /* Adjust the size on smaller screens */
    text-align: center;
  }

  .icon-button {
    margin-bottom: 15px; /* More spacing between icons on mobile */
  }
}
